<article class="artigo-card">
  <div class="artigo-image">
    <img [src]="Artigo.image" [alt]="Artigo.title" />
  </div>
  <div class="article-info">
    <h3>{{ Artigo.title }}</h3>
    <p class="snippet">{{ Artigo.text | slice : 0 : 150 }}...</p>
    <div class="meta">
      <span>By {{ Artigo.author.firstname }} {{ Artigo.author.lastname }}</span>
      <span>· {{ Artigo.createdAt | date }}</span>
    </div>
    <a [routerLink]="['/artigos/', Artigo.id]" class="read-more">Read More →</a>
  </div>
</article>
