<div class="loading-screen">
  <svg viewBox="0 0 200 100" class="loader">
    <!-- Letra L -->
    <path id="L" d="M20 20 V80 H50" />

    <!-- Letra D -->
    <path id="D" d="M80 20 V80 Q120 50 80 20" />

    <!-- Ponto animado -->
    <circle r="3" class="dot">
      <animateMotion dur="2s" repeatCount="indefinite">
        <mpath xlink:href="#L" />
      </animateMotion>
    </circle>

    <circle r="3" class="dot" style="animation-delay: 1s">
      <animateMotion dur="2s" repeatCount="indefinite">
        <mpath xlink:href="#D" />
      </animateMotion>
    </circle>
  </svg>
</div>