.header {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding-inline: 1rem;
  padding-block: 1rem;
  hr {
    height: 3rem;
    margin-inline: 1rem;
  }
  nav {
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    span {
      &:hover {
        cursor: pointer;
        color: var(--color-accent);
      }
    }
  }
  .header__link-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 0.5rem;
  }
  .header__link {
    padding: 0.2em;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      color: var(--color-accent);
    }
  }
}
