<header class="header">
  <nav class="header__nav">
    <div class="header__image">
        <img [routerLink]="'/'" [src]="url()" [alt]="url()"  />
      
    </div>

    <ul class="header__link-list">
      @for (l of headerLinks(); track $index) {
        <li class="header__link-item">
          <a [routerLink]="l.path" class="header__link">{{l.label}}</a>
        </li>
      }
    </ul>

    <div class="header__cta">
      <app-button [text]="btnText" [goTo]="btnGoTo" />
    </div>
  </nav>
</header>