.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #1c1c1c;
  color: #fff;
  overflow: hidden;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  /* transform: translateX(); */
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  padding: 1rem;

  &.open {
    transform: translateX(0);
  }

  .toggle-sidebar-btn {
    position: absolute;
    top: 1rem;
    right: -30px;
    width: 30px;
    height: 30px;
    background-color: var(--color-accent);
    border: none;
    border-radius: 0 5px 5px 0;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken(var(--color-accent), 10%);
    }
  }

  .profile-header {
    text-align: center;

    figure {
      margin: 0 auto 1rem auto;

      img,
      i {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        background-color: #fff;
        color: #333;
        font-size: 3rem;
      }
    }

    .profile-name {
      font-size: 1.2rem;
      font-weight: bold;
      margin: 0.5rem 0;
    }

    .username,
    .role {
      font-size: 0.9rem;
      color: #ccc;
    }
  }

  .profile-footer {
    margin-top: 2rem;
    text-align: center;

    .logout-button {
      background-color: var(--color-accent);
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken(var(--color-accent), 10%);
      }
    }
  }
}
