<aside [class]="open() ? 'sidebar open' : 'sidebar'">
  <button (click)="open.set(!open())" class="toggle-sidebar-btn">
    {{ open() ? '<' : '>' }}
  </button>

  <header class="profile-header">
    <figure>
      @if(user().profileImage){
      <img 
        [src]="user().profileImage" 
        alt="Foto de perfil de {{ user().firstname }} {{ user().lastname }}" 
        class="profile-photo" 
      />
      } @else{
        <i class="bi bi-person-circle"></i>
      }
      <figcaption class="sr-only">
        Foto de perfil de {{ user().firstname }} {{ user().lastname }}
      </figcaption>
    </figure>
    <h2 class="profile-name">{{ user().firstname }} {{ user().lastname }}</h2>
    <p class="username">{{ user().username }}</p>
    <p class="role">{{ user().role }}</p>
  </header>

  <footer class="profile-footer">
    <button class="logout-button" (click)="logout()">Sair</button>
  </footer>
</aside>