<footer class="footer">
  <nav class="footer-nav" aria-label="Redes sociais">
    <ul class="footer-nav__socials">
      @for(s of socialsNavLinks(); track s.label) {
      <li class="footer-nav__socials-item">
        <a [href]="s.url" target="_blank" rel="noopener noreferrer">
          <app-svg-icon [name]="s.icon" />
          <span class="visually-hidden">{{ s.label }}</span>
        </a>
      </li>
      }
    </ul>
  </nav>
  <div class="footer-copy">&copy; {{ currentYear() }} {{ developedBy() }}</div>
</footer>
