<article class="course-card">
  <figure class="course-card__image">
    <img [src]="course!.image" [alt]="'Imagem do curso: ' + course!.title" />
  </figure>
  <section class="course-card__info">
    <h2 class="course-card__title">{{ course!.title }}</h2>
    <p class="course-card__author">
      Por {{ course!.author.firstname }} {{ course!.author.lastname }}
    </p>
    <a
      [href]="course!.link"
      target="_blank"
      rel="noopener noreferrer"
      class="course-card__link"
    >
      Acessar
    </a>
  </section>
</article>
