<form
  (ngSubmit)="login()"
  #loginForm="ngForm"
  class="login-container login-form"
>
  <label for="username">Usuário</label>
  <input
    type="text"
    name="username"
    [(ngModel)]="username"
    id="username"
    autocomplete="username"
    required
  />
  <label for="password">Senha</label>
  <input
    type="password"
    name="password"
    [(ngModel)]="password"
    id="password"
    minlength="8"
    autocomplete="current-password"
    required
  />

  <input type="submit" value="Entrar" />
  <p>
    Doesn't have an account?
    <strong [className]="'register-link'" [routerLink]="'/auth/registrar'"
      >Sign in</strong
    >
  </p>
</form>
