<section class="register-form">
  <h2>Crie sua conta</h2>

  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    
    <div class="form-control">
      <label for="firstname">Nome</label>
      <input
        type="text"
        id="firstname"
        name="firstname"
        formControlName="firstname"
        autocomplete="given-name"
      />
    </div>

    <div class="form-control">
      <label for="lastname">Sobrenome</label>
      <input
        type="text"
        id="lastname"
        name="lastname"
        formControlName="lastname"
        autocomplete="family-name"
      />
    </div>

    <div class="form-control">
      <label for="username">Usuário</label>
      <input
        type="username"
        id="username"
        name="username"
        formControlName="username"
        autocomplete="username"
      />
    </div>

    <div class="form-control">
      <label for="password">Senha</label>
      <input
        id="password"
        type="password"
        name="password"
        minlength="8"
        formControlName="password"
        autocomplete="new-password"
      />
    </div>

    <button type="submit">Registrar</button>
  </form>
</section>
