<section class="register-form">
  <h2>Crie sua conta</h2>

  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <div class="form-control">
      <label for="firstname">Nome</label>
      <input
        type="text"
        id="firstname"
        name="firstname"
        
        required
        [(ngModel)]="registerData.firstname"
        #firstModel="ngModel"
      />
      @if(firstModel.invalid && firstModel.touched){
      <small> Nome é obrigatório. </small>
      }
    </div>

    <div class="form-control">
      <label for="lastname">Sobrenome</label>
      <input
        type="text"
        id="lastname"
        name="lastname"
        required
        [(ngModel)]="registerData.lastname"
        #lastModel="ngModel"
      />
      @if(lastModel.invalid && lastModel.touched){
      <small> Sobrenome é obrigatório. </small>
      }
    </div>

    <div class="form-control">
      <label for="username">Usuário</label>
      <input
        type="username"
        id="username"
        name="username"
        required
        [(ngModel)]="registerData.username"
        #usernameModel="ngModel"
      />
      @if(usernameModel.invalid && usernameModel.touched){
      <small>Usuário inválido.</small>
      }
    </div>

    <div class="form-control">
      <label for="password">Senha</label>
      <input
        id="password"
        type="password"
        name="password"
        minlength="8"
        #passwordModel="ngModel"
        [(ngModel)]="registerData.password"
        required
      />
      @if(passwordModel.invalid && passwordModel.touched){
      <small> Senha deve ter pelo menos 8 caracteres. </small>
      }
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Registrar</button>
  </form>
</section>
