<section class="curriculo">
@if(isLoadingCurriculum()){
<app-loading />
}@else if(!isLoadingCurriculum() && curriculum()){
  <article class="profile-card">
    @if(editMode()){
    <button (click)="toggleEditMode()" class="switch-mode">
      Modo de edição
    </button>
    <article>
      <label for="profile-photo-img" class="profile-upload-label">
        <input
          id="profile-photo-img"
          type="file"
          accept="image/*"
          (change)="onImageSelected($event)"
          hidden
        />
        <div class="profile-photo-wrapper">
          @if(imagePreview()){
          <img
            [src]="imagePreview()"
            alt="Profile Preview"
            class="profile-photo"
          />
          } @else if(curriculum()!.profileImage) {
          <img
            [src]="curriculum()!.profileImage"
            [alt]="curriculum()!.profileImage"
          />
          }@else {
          <i class="bi bi-person"></i>
          }
        </div>
      </label>
      <label for="profile-firstname">Firstname</label>
      <input
        [(ngModel)]="curriculum()!.firstname!"
        id="profile-firstname"
        placeholder="Primeiro Nome"
        type="text"
      />
      <label for="profile-lastname">Lastname</label>
      <input
        [(ngModel)]="curriculum()!.lastname!"
        id="profile-lastname"
        placeholder="Sobrenome"
        type="text"
      />
      <label for="profile-jobtitle">Profissão</label>
      <input
        [(ngModel)]="curriculum()!.jobTitle!"
        id="profile-jobtitle"
        placeholder="Cargo"
        type="text"
      />
      <label for="profile-credential">Credencial</label>
      <input
        [(ngModel)]="curriculum()!.credential!"
        id="profile-credential"
        placeholder="Credencial"
        type="text"
      />

      <button
        (click)="save()"
        [disabled]="isRequestingPostOrPatch()"
        [class]="isRequestingPostOrPatch() ? 'btn-loading' : 'btn'"
      >
        {{ isRequestingPostOrPatch() ? "" : "Salvar" }}
      </button>
      <div class="contact-info">
        @for(item of contactItems(); track item.id){
        <fieldset class="field">
          <legend>
            <button
              [disabled]="isRequestingPostOrPatch()"
              (click)="deleteContactItem(item.id)"
              [class]="isRequestingPostOrPatch() ? 'btn-loading' : ''"
            >
              {{ isRequestingDelete() ? "" : "Remover" }}
            </button>
            <button
              [disabled]="isRequestingPostOrPatch()"
              (click)="updateContactItem(item)"
              [class]="isRequestingPostOrPatch() ? 'btn-loading' : ''"
            >
              {{ isRequestingPostOrPatch() ? "" : "Atualizar" }}
            </button>
          </legend>
          <label [for]="item.platform">Plataforma</label>
          <input
            [(ngModel)]="item.platform"
            placeholder="Plataforma"
            type="text"
            [id]="item.platform"
          />

          <label [for]="item.label">Tag ou nome:</label>
          <input
            [(ngModel)]="item.label"
            placeholder="Nome"
            type="text"
            [id]="item.label"
          />

          <label [for]="item.link">Link</label>
          <input
            [(ngModel)]="item.link"
            placeholder="Link"
            type="url"
            [id]="item.link"
          />
        </fieldset>
        }
      </div>
      <div class="create-contact-item">
        <div>
          <label for="new-item-platform">Plataforma</label>
          <input
            [(ngModel)]="newItemPlatform"
            placeholder="Plataforma"
            type="text"
            id="new-item-platform"
          />

          <label for="new-item-label">Tag ou nome:</label>
          <input
            [(ngModel)]="newItemLabel"
            placeholder="Nome"
            type="text"
            id="new-item-label"
          />

          <label for="new-item-link">Link</label>
          <input
            [(ngModel)]="newItemLink"
            placeholder="Link"
            type="url"
            id="new-item-link"
          />
        </div>
        <button
          [disabled]="isRequestingPostOrPatch()"
          (click)="
            createContactItem({
              label: newItemLabel(),
              link: newItemLink(),
              platform: newItemPlatform()
            })
          "
          [class]="isRequestingPostOrPatch() ? 'btn-loading' : 'btn'"
        >
          {{ isRequestingPostOrPatch() ? "" : "Adicionar novo" }}
        </button>
      </div>
    </article>

    }@else{ @if(userHasPermission()){
    <button
      class="switch-mode"
      [disabled]="
        isRequestingPostOrPatch() ||
        isRequestingDelete() ||
        isLoadingCurriculum()
      "
      (click)="toggleEditMode()"
    >
      Modo de visualização
    </button>
    }
    <article class="profile-card">
      <div class="profile-photo-wrapper">
        <img
          [src]="curriculum()!.profileImage"
          [alt]="curriculum()!.profileImage"
        />
      </div>
      <h1>{{ curriculum()?.firstname }} {{ curriculum()?.lastname }}</h1>
      <p class="job-title">{{ curriculum()?.jobTitle }}</p>
      <p class="credential">{{ curriculum()?.credential }}</p>

      <div class="contact-info">
        @for (i of contactItems(); track i.id) {
        <p>
          {{ i.platform }}: <a [href]="i.link" target="_blank">{{ i.label }}</a>
        </p>
        }
      </div>
    </article>
    }
  </article>

  <main class="main-content">
    @for (field of fields()!; track field.id) {
    <app-curriculo-section
      [isLoading]="isLoadingFields"
      [field]="field"
      [createNewItem]="createFieldItem"
      [updateTitle]="updateField"
      [updateItem]="updateFieldItem"
      [deleteField]="deleteField"
      [deleteFieldItem]="deleteFieldItem"
      [userHasPermission]="userHasPermission"
      [globalEdit]="editMode"
    />
    } @if(editMode()){
    <section class="editMode createNewFieldControl">
      <div class="editMode createNewFieldTitle">
        <label for="new-item-title">Título</label>
        <input type="editMode newFieldItemTitle" id="new-item-title" #title />
      </div>

      <ul class="editMode newItemsCreated">
        @for (item of newFieldItemsArray; track $index) {
        <li>
          <label style="font-size: 1rem" [for]="'item' + ($index + 1)">
            {{ "item " + ($index + 1) }}
          </label>

          <div class="textarea-wrapper">
            <textarea
              type="text"
              [id]="'item' + ($index + 1)"
              [value]="item"
              #newFieldItem
              (input)="newFieldItemsArray[$index] = newFieldItem.value"
            ></textarea>
            <button
              class="pushItemButton"
              (click)="newFieldItemsArray.splice($index, 1)"
            >
              <i class="bi bi-dash-lg"></i>
            </button>
          </div>
        </li>
        }
      </ul>
      <form class="newFieldForm" (submit)="createNewField(title, item)">
        <label for="newFieldNewItem">descrição</label>
        <div>
          <textarea id="newFieldNewItem" type="text" #item></textarea>
          <button type="button" (click)="addItemToArray(item)">
            <i class="bi bi-plus-lg"></i>
          </button>
        </div>
        <button class="new_field_button">Adicionar novo campo</button>
      </form>
    </section>
    }
  </main>
} 
@if(!isLoadingCurriculum() && !curriculum() && userHasPermission()) {
  <app-create-curriculum-form />
} 
@if(!isLoadingCurriculum() && error()) {
  <app-recurso-temporariamente-indisponivel />
}
</section>
