@if(isLoading()){
<app-loading></app-loading>
}@else if(!isLoading() && profile()){
<section class="curriculo">
  <article class="sidebar">
    <img
      [src]="profile()!.profileImage"
      [alt]="profile()!.firstname"
      class="profile-photo"
    />
    @if(editMode()){
    <button>editar nome</button>
    }
    <h1>
      {{ profile()!.firstname }}
      {{ profile()!.lastname }}
    </h1>
    <p class="job-title">{{ profile()!.jobTitle }}</p>
    <p class="credential">{{ profile()!.credential }}</p>
    <div class="contact-info">
      @for(i of contactInfo()!.items; track i.label ){
      <p>
        {{ i.platform }}: <a [href]="i.link" target="_blank">{{ i.label }}</a>
      </p>
      }
    </div>
    <button (click)="editar()">Editar</button>
  </article>
  <main class="main-content">
    <app-curriculo-section
      [topic]="academicInfo()!"
      [createItem]="createAcademicItem"
      [deleteItem]="deleteAcademicItem"
      [updateItem]="updateAcademicItem"
    />
    <app-curriculo-section
      [topic]="experienceInfo()!"
      [deleteItem]="deleteExperienceItem"
      [createItem]="createExperienceItem"
      [updateItem]="updateExperienceItem"
    />
    <app-curriculo-section
      [topic]="teachingInfo()!"
      [createItem]="createTeachingItem"
      [deleteItem]="deleteTeachingItem"
      [updateItem]="updateTeachingItem"
    />
  </main>
</section>
}
