<footer class="footer">
  <nav class="footer-nav" aria-label="Redes sociais">
    <ul class="footer-nav__socials">
      @for(item of socialsNavLinks(); track item.label) {
      <li class="footer-nav__socials-item">
        <a href="{{ item.url }}" ariaLabel="Link para {{ item.label }}">
          <i [className]="item.icon" aria-hidden="true"></i>
          <span>{{ item.label }}</span>
        </a>
      </li>
      }
    </ul>
  </nav>
  <div class="footer-copy">&copy; {{ currentYear() }} {{ developedBy() }}</div>
</footer>