<footer class="footer">
  <nav class="footer-nav">
    <ul class="footer-nav__socials">
      @for(item of socialsNavLinks(); track item.label) {
      <li [routerLink]="item.url" class="footer-nav__socials-item">
        <span></span> <span>{{ item.label }}</span>
      </li>
      }
    </ul>
    <ul class="footer-nav__internal">
      @for(item of internalNavLinks(); track item.label) {
      <li [routerLink]="item.url" class="footer-nav__internal-item">
        <span></span> <span>{{ item.label }}</span>
      </li>
      }
    </ul>
  </nav>
  <div>copyright &copy; {{ currentYear() }} {{ developedBy() }}</div>
</footer>
