<section class="section">
  <span class="title-wrapper">
    @if (isEditing()) {
    <form>
      <input class="title-input" type="text" [value]="fieldInfo.title" name="title" placeholder="Enter title"
        (input)="editTitle(titleInput.value)" #titleInput />
    </form>
    <button (click)="save(fieldInfo)" class="change-title-btn">
      <i class="bi bi-check-lg"></i>
    </button>
    } @else {
    <h2>{{ fieldInfo.title | titlecase }}</h2>
    <button (click)="isEditing.set(true)">
      <i class="bi bi-pencil-square"></i>
    </button>
    }
  </span>

  <ul>
    @for(item of fieldInfo.items; track $index) {
    @if(isEditing()){
    <li>
      <input type="text" [value]="item" (input)="editItem($index, current.value)" [name]="$index" #current />
      <button (click)="deleteItem($index)">
        <i class="bi bi-dash-lg"></i>
      </button>
    </li>
    }@else {
    <li>
      {{ item }}
    </li>
    }
    }
  </ul>

  @if (isEditing()) {
  <form (submit)="pushNewItem(newItem)">
    <input class="item-input" type="text" name="newItem" #newItem />
    <button>
      <i class="bi bi-plus-lg"></i>
    </button>
  </form>
  }
</section>