<section class="section">
  @if(isLoading()){
<app-loading></app-loading>
  } @else{
<span class="title-wrapper">
    @if (isEditing()) {
    <form>
      <input
        class="title-input"
        type="text"
        [value]="field.title"
        name="title"
        placeholder="Titulo"
        #titleInput
      />
    </form>
    <button
      (click)="updateTitle(field.id, titleInput.value)"
      class="change-title-btn"
    >
      <i class="bi bi-check-lg"></i>
    </button>
    } @else {
    <h2>{{ field.title | titlecase }}</h2>
    @if(userIsAdmin() && globalEdit()){
    <span>
      <button (click)="deleteThis(field.id)">
        <i class="bi bi-trash"></i>
      </button>
      <button (click)="isEditing.set(true)">
        <i class="bi bi-pencil-square"></i>
      </button>
    </span>
    } }
  </span>

  <ul>
    @for(item of field.items; track item.id) {
    <li>
      @if(isEditing()){
      <textarea
        type="text"
        [value]="item.description"
        [name]="item.id"
        class="item-update"
        #current
      ></textarea>
      <button (click)="updateFieldItem(item.id, current.value)">
        <i class="bi bi-check-lg"></i>
      </button>
      <button (click)="deleteFieldItem(item)">
        <i class="bi bi-dash-lg"></i>
      </button>
      }@else {
      <p>
        {{ item.description }}
      </p>
      }
    </li>
    }
  </ul>

  @if (isEditing()) {
  <form class="add-new-item" (submit)="addNewItem(newItem)">
    <textarea class="item-input" type="text" name="newItem" #newItem ></textarea>
    <button>
      <i class="bi bi-plus-lg"></i>
    </button>
  </form>
  }
  }
  
</section>
