<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="title" placeholder="Título" />
  <app-image-uploader (uploadedUrl)="form.get('image')?.setValue($event)" />

  @if (form.get('text')) {
  <textarea formControlName="text" placeholder="Texto"></textarea>
  } @if (form.get('description')) {
  <textarea formControlName="description" placeholder="Descrição"></textarea>
  } @if (form.get('file')) {
  <app-pdf-uploader (uploadedUrl)="form.get('file')?.setValue($event)" />
  } @if(form.get('tagNames')){
  <input
    type="text"
    formControlName="tagNames"
    placeholder="Tags separadas por vírgula (ex: angular, rxjs)"
  />
  } @if (form.get('link')) {
  <input type="text" formControlName="link" placeholder="Link do Curso" />
  } @if (form.get('references')) {
  <textarea
    formControlName="references"
    placeholder="Uma referência por linha"
  ></textarea>
  }

  <button type="submit">Enviar</button>
  @if(inProgress()){
  <div class="animation-container">
    <span class="animation-bar"></span>
  </div>
  }
</form>
