 <article class="blog-card">
      <div class="blog-image">
        <img [src]="Blog.image" [alt]="Blog.title" />
      </div>
      <div class="blog-info">
        <h3>{{ Blog.title }}</h3>
        <p class="snippet">{{ Blog.text | slice:0:150 }}...</p>
        <div class="meta">
          <span>By {{ Blog.author.firstname }} {{ Blog.author.lastname }}</span>
          <span>· {{ Blog.createdAt | date }}</span>
        </div>
        <a [routerLink]="['/blogs/', Blog.id]" class="read-more">Read More →</a>
      </div>
    </article>