.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
  color: #333;
}

.not-found-container h1 {
  font-size: 8rem;
  margin: 0;
  color: #ff3b30; /* A red accent color */
}

.not-found-container p {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.not-found-container a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: #ff3b30;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.not-found-container a:hover {
  background-color: #d32f2f;
}