:root {
  --color-dark: hsl(
    210,
    50%,
    20%
  ); /* professional navy-gray for text & contrast */
  --color-bg: hsl(52, 100%, 95%);
  --color-dark: hsl(204, 86%, 6%);
  --color-light: hsl(0, 0%, 98%);
  --color-accent: hsl(35, 100%, 50%);
  --color-primary: hsl(243, 77%, 59%);
  --color-secondary: hsla(10, 93%, 73%, 0.651);
}

:root {
  --color-bg: hsl(48, 100%, 97%);
  --color-light: hsl(0, 0%, 100%);
  --color-accent: hsl(36, 100%, 55%);
  --color-primary: hsl(248, 60%, 60%);
  --color-secondary: hsl(343, 75%, 65%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html {
  scroll-behavior: smooth;
  color: var(--color-dark);
}

body {
  background-color: var(--color-bg);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.btn {
  color: inherit;
  font: inherit;
  display: flex;
  width: fit-content;
  height: fit-content;
  width: auto;
  padding: 0.5em;
  border-radius: 0.5em;
  transition: ease-in-out 0.2s;
  border: 1px solid transparent;

  &&:hover {
    cursor: pointer;
    transform: translateY(-1.5px);
  }
}
body {
  position: relative;
}

.toast-error {
  border-radius: 0.5rem;
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  background-color: var(--color-secondary);
  color: #fff;
  animation: slideIn 0.7s ease-in-out;
}

.toast-success {
  background-color: #52c41a;
}

.toast-info {
  background-color: #1890ff;
}

.toast-warning {
  background-color: #faad14;
}

@keyframes slideIn {
  from {
    transform: translateX(120%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}