@if(isLoading()){
<app-loading />
} @else if(artigo()) {
<article class="artigo">
  <header class="artigo-header">
    <figure class="author-image">
      <img
        [src]="artigo()!.author.profileImage"
        [alt]="artigo()!.author.firstname"
      />
      <figcaption>
        {{ artigo()!.author.firstname | titlecase }}
        {{ artigo()!.author.lastname | titlecase }}
      </figcaption>
    </figure>
    <h1>{{ artigo()!.title }}</h1>
  </header>

  <section class="artigo-content">
    <figure>
      <img [src]="artigo()!.image" [alt]="artigo()!.title" />
      <figcaption>{{ artigo()!.title }}</figcaption>
    </figure>
    <p>{{ artigo()!.text }}</p>
  </section>

  <footer class="artigo-meta">
    <p>
      Published on:
      <time [attr.datetime]="artigo()!.createdAt">
        {{ artigo()!.createdAt | date }}
      </time>
    </p>

    <section class="references">
      <h2>References</h2>
      <ul>
        @for (r of artigo()!.references; track $index) {
        <li class="reference-item">{{ r }}</li>
        }
      </ul>
    </section>
  </footer>
</article>
} @else {
<app-resource-not-found />
}
